.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 4px;
}

.ng-touched.ng-valid[required],
.ng-valid.required {
  border: 1px solid #42a948;
}

.ng-touched.ng-invalid:not(form) {
  border: 1px solid #a94442;
}

input:focus {
  outline-offset: 4px;
}
[role="alert"] {
  color: #a94442;
}

label {
  font-weight: 500;
}

.card {
  border-radius: 4px;
  color: #31708f;
  background-color: #d9edf7;
  padding: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}
