ul {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

nav {
  display: flex;
  gap: 16px;
  align-items: baseline;
}

.loggedUser {
  margin-left: auto;
}
